@model ShoppingHelper.Produs
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="pagination-centered table">

    <tr>
        <th>Magazin
        </th>
        <th>Tip Produs
        </th>
        <th>Pret
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Magazin.Nume)
        </td>
        <td>
            @Html.DisplayFor(model => model.TipProdus.Denumire)
        </td>
        <td>
            @Html.DisplayFor(model => model.Pret)
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>