@model IEnumerable<ShoppingHelper.TipProdus>
@{
    ViewBag.Title = "Comanda";
}
 <script type="text/javascript" src="../../Scripts/jquery.json-2.3.min.js"></script>
<h2>Comanda</h2>
<div>
    @Html.ActionLink("Go back", "Index")
</div>
<table class="pagination-centered table">
    <tr>
        <th></th>
        <th>Denumire
        </th>
        <th>UnitateMasura
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" name="selectedObjects" onclick= "selectedObjectsClick(this,'@Html.DisplayFor(model => item.Id)    ')"
                 value="<%: item.Id%>" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitateMasura)
            </td>
        </tr>
    }
</table>
<p>
    <a class="btn btn-primary" href='#' onclick="submitClick()">Trimite </a>
    @Html.ActionLink("Fa listele", "Index", "ShoppingListPerStore") |
</p>

<script>

    var ids = new Array();

    function selectedObjectsClick(obj,itemId) {
        if (obj.checked) {
            ids.push(itemId);
        }
        else {
            ids.pop(itemId);
        }
    }

    function submitClick() {
        var postData = $.toJSON(ids);
        var url = '@Url.Action("Comanda", "TipProdus")';
        $.post
        $.ajax(
        {
            type: "POST",
            async: false,
            url: url,
            dataType: "html",
            data: { orderedIds: postData },
            success: function (result) {
                if (result.redirect) {
                    window.location.href = result.redirect;
                    return;
                }
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
</script>